*{
    margin: auto;
}

p{
    margin: 50px;
    border: 4px solid black;
    padding: 50px;
}

h1{
    background-color:rgb(150, 8, 194);
    text-align: center;
}

body{
    background-color: rgb(235, 13, 105);
    text-align: center;
}

.cuadro1{
    width: 10%;
    height: 10%;
    padding: 2%;
    background-color: rgb(163, 101, 168);
    margin: 5%;
    
    position: static;
    bottom: 20px;
    right: 20px;
}
.cuadro2{
    width: 10%;
    height: 10%;
    padding: 2%;
    background-color: rgb(13, 149, 228);
    margin: 5%;
    
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.cuadro3{
    width: 10%;
    height: 10%;
    padding: 2%;
    background-color: rgb(228, 226, 99);
    margin: 5%;
    
    position: relative;
    bottom: 20px;
    right: 20px;
}
.cuadro4{
    width: 10%;
    height: 10%;
    padding: 2%;
    background-color: rgb(26, 214, 167);
    margin: 5%;
    
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#imagenvaleria:hover{
    transition-duration: 1s;
    transition-timing-function: lineal;
    transform: matrix(5,2,1,10,8,2);
    filter: blur(100%);
}

#imagenvaleria2{
    animation-name: miAnimacion;
    transition-duration: 2s;
    animation-iteration-count: 3;
    /*animation-fill-mode: fowars;*/
    animation-delay: 1s;
    -moz-animation-direction: 90;
}

@keyframes miAnimacion{
    0%}
        transform: rotateZ(0deg);
    }
    40%{
        transform: rotateZ(70deg);
    }
    90%{
        transform: rotateZ(360deg)
        transform: translate3d(40px, 100px);
    }